body {
  background-color: #1c1f23;
  color:white;
  text-align: center;
  
}
canvas {
  border: 2px solid gray;
  margin-top: 2%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);

}
img{
  margin: auto;
  margin-right: 10px;
}

#result{
  font-size: larger;
}
h1{
  margin-top: 3%;
  
}



