body {
  background-color: #31323a;
  color: white;

  header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: inherit;
    padding-bottom: 10px;
  }

  h1 {
    text-align: center;
    font-size: 2em;
    font-family: "Sofia", sans-serif;
    padding: 15px 0px;
  }
}

.nav {
  text-align: center;
  background-color: #2a2a2c;
  padding: 10px 0px 15px;

  .nav__page {
    font-size: larger;
    padding: 0px 10px;
  }
  .nav__button {
    width: 100px;
    height: 30px;
    display: inline-block;
    background-color: #aeaeae;
    border: #070707;
    border-radius: 10px;
    margin: 0px 5px;
    box-shadow: 0 4px #7c7d7d;
    cursor: pointer;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    top: 100%;
    width: 70px;
    padding: 10px;
    margin: 0px 10px;
    background-color: #929292;
    color: black;
    box-shadow: 0 4px #494949;
    border-radius: 5px;
    cursor: pointer;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content:hover {
    display: block;
  }
  .nav__input {
    border: 2px solid rgb(170, 170, 170);
    margin: 2px 10px;
  }
  .nav__button--small {
    width: 50px;
    background-color: #7c7d7d;
    box-shadow: 0 4px #5b5b5b;
  }
  .nav__button_disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.2;
  }
}
#infoLine {
  text-align: center;
  padding: 10px 0;
}
#clearFilterBtn {
  display: none;
}

#characterList {
  list-style-type: none;
  margin-top: 230px;
}

.character {
  background-color: black;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid rgb(129, 129, 129);
  border-radius: 20px;
  color: #bdbdbd;
  display: flex;
  align-items: center;
  max-width: 600px;
  min-width: 300px;

  .character__container {
    display: inline-block;
    padding: 0px;
  }

  .character__name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    margin: 0px;
    padding: 10px 0px 0px 10px;
    cursor: pointer;

    &:hover {
      color: rgb(95, 204, 87);
    }
  }
  .character__status {
    padding: 0px 10px;
    color: #7e7e7e;
  }
  .character__species {
    padding: 0px 10px;
  }
  .character__img {
    width: 100px;
    margin: 10px;
    border: 1px solid wheat;
    border-radius: 10px;
  }

  .character__detailed {
    color: #808080;
    display: none;
    word-wrap: break-word;
    white-space: normal;
    padding: 0px 10px;
  }
}
footer {
  text-align: center;
  color: #aeaeae;
  padding: 20px 0px;
}
